@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*colors*/
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /*fonts*/
    --montserrat: "Montserrat", sans-serif;
    --fraunces: "Fraunces", sans-serif;

    /*font-weights*/
    --font-regular: 500;
    --font-bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

p,
h1 {
    overflow-wrap: break-word;
}

body {
    font-size: 0.875rem;
    background-color: var(--cream);

    display: grid;
    place-content: center;

    margin: 1rem;
}

.images img {
    display: block;
    max-width: 100%;
}

.main {
    background-color: var(--white);
    border-radius: 0.5rem;
    overflow: hidden;
    display: grid;

    max-width: 620px;
}

.content {
    display: grid;
    gap: 1rem;

    padding: 1.5rem;
}

.product {
    font-family: var(--montserrat);
    font-weight: var(--font-regular);

    font-size: 0.7rem;
    letter-spacing: 0.375em;

    text-transform: uppercase;
    color: hsl(183, 8%, 47%);
}

.product__name {
    font-family: var(--fraunces);
    font-weight: var(--font-bold);
    font-size: 2rem;

    line-height: 1em;
}

.product__description {
    font-family: var(--montserrat);
    font-weight: var(--font-regular);
    color: var(--darkGrayishBlue);

    line-height: 1.7em;
}

.product__price {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.disc-price {
    font-family: var(--fraunces);
    font-weight: var(--font-bold);
    font-size: 2rem;
    color: var(--darkCyan);
}

.org-price {
    font-family: var(--montserrat);
    font-weight: var(--font-regular);
    color: var(--darkGrayishBlue);
}

.btn {
    background-color: var(--darkCyan);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    border-radius: 0.5rem;

    font-family: var(--montserrat);
    font-weight: var(--font-bold);

    font-size: 0.8rem;
    padding: 1.2em 1.5em;
}

.btn__text {
    text-decoration: none;
    color: var(--white);
}

.btn[data-icon="shoppingCart-icon"]::before {
    content: "";
    background-image: url("images/icon-cart.svg");
    width: 15px;
    height: 16px;
}

.btn:is(:hover, :focus){
    background-color: hsl(158, 36%, 19%);
}

.attribution {
    font-family: var(--montserrat);
    font-weight: var(--font-bold);
    font-size: 0.75rem;
    text-align: center;
    color: var(--darkGrayishBlue);
    min-height: calc(100vh - 95vh);
    display: flex;
    justify-content: center;
    align-items: center;
   }

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 620px){
    .main{
        grid-template-columns: 1fr 1fr;
    }

    .content{
        padding: 2rem;  
        gap: 1.7rem;
    }


}